/* .Level__Line__0 {
  top: 22px;
  left: 13px;
  height: 54px;
}
.Level__Line__1 {
    top: 76px;
    left: 13px;
    height: 61px;
}
.Level__Line__2 {
  top: 136px;
  left: 13px;
  height: 61px;
}
.Level__Line__3 {
  top: 197px;
  left: 13px;
  height: 61px;
}
.Level__Line__4 {
    top: 258px;
    left: 13px;
    height: 61px;
}
.Level__Line__5 {
    top: 319px;
    left: 13px;
    height: 61px;
}
.Level__Line__6 {
    top: 380px;
    left: 13px;
    height: 61px;
}
.Level__Line__7 {
    top: 441px;
    left: 13px;
    height: 61px;
} */
.Level__0 {
  margin-left: 0px;
}
.Level__1 {
  margin-left: 20px;
}
.Level__2 {
  margin-left: 40px;
}
.Level__3 {
  margin-left: 60px;
}
.Level__4  {
  margin-left: 80px;
}
.Level__5 {
  margin-left: 100px;
}
.Level__6 {
  margin-left: 120px;
}
.Level__7 {
  margin-left: 140px;
}
.Level__8 {
  margin-left: 160px;
}

