.ProjectWorksView {
  background: #27272a;
}
.ProjectWorksViewHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProjectWorksViewHead__ProjectName {
  min-height: 44px;
  display: flex;
  border-bottom: 1px solid #414144;
  align-items: center;
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}
.ProjectWorksViewHead__ColumnnameArray {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 95%;
  border-bottom: 1px solid #414144;
  box-sizing: border-box;
}
.ProjectWorksViewHead__ColumnnameArray__Item {
  font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.1px;
    height: 40px;
    color: #a1a1aa;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.ProjectWorksViewListItem {
  display: grid;
  /* grid-template-columns: repeat(6, 1fr); */
  grid-template-columns: auto repeat(5, 1fr);
  width: 100%;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 6;
  width: 95%;
  height: 60px;
}
.ProjectWorksViewListItem__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 100%;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #414144;
}
.ProjectWorksViewListItem__item input{

  border: 1px solid #414144;
  border-radius: 6px;
  background: transparent;
  color: #71717A;
  outline: none;
  height: 26px;
  margin-left: -10px;
  padding-left: 9.5px;
  font-size: 14.5px;
  line-height: 130%;
  margin-bottom: 0.2px;
  letter-spacing: 0.1px;
}
.ProjectWorksViewListItem__item__Line {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 100%;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #414144;
  min-width: 80px;
}
.ProjectWorksViewListItem__item__Level {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 40px;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #414144;
}
.ProjectWorksView__List {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProjectWorksViewListItem__item__Line__Block {
  width:max-content;
  height: 28px;
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
  box-sizing: border-box;
}
.ProjectWorksViewListItem__item__Line__Block__Icon__Add{
  margin-right: 6px;
  cursor: pointer;
}
.ProjectWorksViewListItem__item__Line__Block__Icon{
  cursor: pointer;
}
.ProjectWorksViewListItem__item__Line__Block__Style-Black{
  background: #414144;
}
.ProjectWorksViewListItem__item__Line__Block__Line {
  position: absolute;
  z-index: 2;
}
.Level__Line__0{
  top: 23px;
  left: 13px;
}
.Level__Line__1{
  top: 74px;
  left: 13px;
  height: 60px;
}
.Level__Line__2{
  top: 120px;
  height: 60px;  
}
.Level__Line__3{
  top: 120px;
  height: 60px;
}
.Level__0{
  margin-left: 0px;
}
.Level__1{
  margin-left: 18px;

}
.Level__2{
  margin-left: 36px;

}
.Level__3{
  margin-left: 44px;

}

