.ProjectWorksView {
  background: #27272a;
}
.ProjectWorksViewHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProjectWorksViewHead__ProjectName {
  min-height: 44px;
  display: flex;
  border-bottom: 1px solid #414144;
  align-items: center;
  padding-left: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  width: 100%;
  box-sizing: border-box;
}
.ProjectWorksViewHead__ColumnnameArray {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 95%;
  border-bottom: 1px solid #414144;
  box-sizing: border-box;
}
.ProjectWorksViewHead__ColumnnameArray__Item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 40px;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ProjectWorksView__List {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 100%;
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 6;
}
.ProjectWorksView__List__item {
  height: 60px !important;
}
.ProjectWorksViewListItem__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 100%;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #414144;
  height: 80px;
  box-sizing: border-box;
}
.ProjectWorksViewListItem__item input {
  border: 1px solid #414144;
  border-radius: 6px;
  background: transparent;
  color: #71717a;
  outline: none;
  height: 26px;
  padding-left: 10px;
  font-size: 14.5px;
  box-sizing: content-box;
}
.ProjectWorksViewListItem__item__input__style {
  border: none !important;
  color: #ffffff !important;
  border: 1px solid transparent !important;
}
.ProjectWorksViewListItem__item__Line {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 100%;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #414144;
  min-width: 80px;
  box-sizing: border-box;
}
.ProjectWorksView__List__item:nth-child(6n+6){
  margin-right: 20px;
}
.ProjectWorksView__List__item:nth-child(6n+1){
  margin-left: 20px;
}
.ListItamTop {
  display: flex;
  justify-content: flex-start;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #a1a1aa;
  border-bottom: 1px solid #414144;
  height: 40px;
  align-items: center;
  padding-left: 8px;
}
.ProjectWorksViewListItem__item__Level {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  height: 40px;
  color: #a1a1aa;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #414144;
}
.ProjectWorksViewListItem__item__Line__Block {
  width: 48px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  padding-top: 6px;
  padding-bottom: 6px;
}
.ProjectWorksViewListItem__item__Line__Block__Icon__Add {
  margin-right: 6px;
  padding-left: 6px;
  cursor: pointer;
  z-index: 2;
}
.ProjectWorksViewListItem__item__Line__Block__Icon__Add__Line{
    height: 2px;
    width: 13px;
    position: absolute;
    background-color: #C6C6C6;
    left: -8px;
    top: 8px;
}
.ProjectWorksViewListItem__item__Line__Block__Icon {
  cursor: pointer;
}
.ProjectWorksViewListItem__item__Line__Block__Style-Black {
  background: #414144;
  box-sizing: border-box;
}
.ProjectWorksViewListItem__item__Line__Block__Line {
  position: absolute;
  width: 2px;
  background-color: #C6C6C6;
}

.ProjectWorksViewListItem__item__Line__Block__Icon__Block{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}