.ProjectWorks{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.ProjectWorksHeader{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2
}
.ProjectWorksMenu{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3
}
.ProjectWorksView{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3
}