.ProjectWorksMenuHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 18px;
  min-height: 44px;
  border-bottom: 1px solid #414144;
  border-right: 1px solid #414144;
  box-sizing: border-box;
}
.ProjectWorksMenuHead__Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ProjectWorksMenuHead__Title__Big {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1aa;
}
.ProjectWorksMenuHead__Title__Min {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a1a1aa;
}
.ProjectWorksMenuHead img {
  cursor: pointer;
}
